<%= render partial: "form", locals:  {action_name: "Edit"} %>

<%#= form_with model: @animal do |f| %>
<!--  <p> Edit an animal's information: </p>-->
<!--  <div>-->
    <%#= f.label :name %>
    <%#= f.text_field :name %>
<!--  </div>-->
<!--  <div>-->
    <%#= f.label :species %>
    <%#= f.text_field :species %>
<!--  </div>-->
<!--  <div>-->
    <%#= f.label :age %>
    <%#= f.text_field :age %>
<!--  </div>-->
  <%#= f.submit "Edit an animal" %>

<%# end %>